.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-box {
  border-width: 2px;
  border-color: rebeccapurple;
  padding: 0.5rem;
  border-radius: 0.375rem;
  outline: none;
  transition: border-color 0.2s;
  width: 16rem;
}

.input-box:focus {
  border-color: #db2777;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-label {
  font-size: 14px;
  margin-bottom: 0.25rem;
  color: black;
}

.button-style {
  color:white;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
}

.button-container {
  display: flex;
  justify-content: space-between; /* mobile view */
  margin-top: 1.25rem; /* mt-5 */
}

@media (min-width: 768px) {
  .button-container {
    flex-direction: column;       /* stack vertically on desktop */
    justify-content: flex-start;  /* reset justify-between */
    align-items: flex-end;        /* align to the right */
    gap: 0.5rem;                  /* optional: space between stacked buttons */
    margin-top: 0;                /* md:mt-0 */
    margin-left: auto;            /* md:ml-auto */
  }
}


