.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9933ff;
    color: #fff;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    color: #f0b3ff !important;
    text-decoration: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links a:visited {
    color: #fff;
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
